<form method="post">
    {% csrf_token %}
    
    <div>
        {{ form.name.label_tag }}
        {{ form.name }}
        <p style="color: red;">{{ form.name.errors }}</p>
    </div>


    <div>
        {{ form.email.label_tag }}
        {{ form.email }}
        <p style="color: red;">{{ form.email.errors }}</p>
    </div>

    <div>
        {{ form.age.label_tag }}
        {{ form.age }}
        <p style="color: red;">{{ form.age.errors }}</p>
    </div>

    <button type="submit">Submit</button>
</form>
